venv/
.env
venv_test/
llm/notebooks/random.ipynb
venv311/
llm/notebooks/playground2.ipynb
hacksky/
output.wav
user_input.wav
llm/results/recordings
llm/notebooks/random1.ipynb
results/**/*.avi
llm/results/figures
venv_req_test/
# Ignore all .pyc files
**/*.pyc
llm/results
src/scratchpad.py
# Ignore all venv environments
*venv*/

# Ignore any folder with 'venv' in its name
**/venv**/
